* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    max-width: 1200px;
    width: fit-content;
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-bottom: 1px black solid;
}
.row {
    max-width: 1200px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px black solid;
}
.square {
    border-top: 1px black solid;
    border-left: 1px black solid;
    min-height: 2rem;
    min-width: 2rem;
}
